.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #171b2a;
  padding: 4rem 1rem 0rem;
  color: #fff;
  justify-content: space-around;
  align-items: flex-start;
  font-family: Poppins, sans-serif;
}
.footer h4 {
  text-align: left;
}
.footer section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer p {
  font-size: 0.9rem;
}
.footer span {
  transition: 0.3s linear;
  cursor: pointer;
  font-size: 0.85rem;
  display: block;
  font-size: 0.9rem;
}
.footer span:hover {
  transform: translateX(3px);
  color: #2a286a;
}
.footer div {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer div * {
  margin-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.footer input {
  outline: none;
  padding: 3px 7px;
}
@media screen and (max-width: 800px) {
  .footer section {
    display: grid;
    grid-template-columns: 1fr;
  }
}
