.featuredlistings {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.featuredlistings .spec {
  text-transform: capitalize;
  font-weight: 400;
  border-radius: 20px;
  padding: 7px 15px;
  background-color: #ffefec;
  color: #2a286a;
  width: max-content;
}
.featuredlistings h1 {
  margin: 15px 0;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}
.featuredlistingscarousel {
  width: 100%;
  margin: 2rem 1rem 2rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
