.singleItem {
  color: #fff;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  margin-bottom: 15px;
}
.singleItem p,
.singleItem span {
  font-size: 18px;
  font-weight: 500;
  margin-left: 7px;
}
.singleItem svg {
  font-size: 18px;
  vertical-align: middle;
}
.singleItem:hover {
  color: #00dc99;
}
@media screen and (max-width: 800px) {
  .singleItem p {
    display: none;
  }
  .singleItem svg {
    font-size: 28px;
    vertical-align: middle;
  }
  .singleItem span {
    margin-bottom: 7px;
  }
}
