.searchsection{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
    width: 80vw;
    margin: 10px auto;
    margin-top: -5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: -1px 12px 20px 1px rgba(204,204,204,1);
    -webkit-box-shadow: -1px 12px 20px 1px rgba(204,204,204,1);
    -moz-box-shadow: -1px 12px 20px 1px rgba(204,204,204,1);
    z-index: 100;
}
.searchsection .dropdowntoggle{
    background-color: transparent;
    border: 1px solid rgb(196, 196, 196);
    color: #222;
    padding: 7px 2rem;
}
.searchsection .dropdowntoggle:hover, .searchsection .dropdowntoggle:active,.searchsection .dropdowntoggle:visited,.searchsection .dropdowntoggle:focus,.searchsection .dropdowntoggle:focus-visible,.searchsection .dropdowntoggle:focus-within{
     background-color: transparent;
    border: 1px solid grey;
    color: #222;
}
@media screen and (max-width: 820px) {
    .searchsection{
        flex-wrap: wrap;
         width: 90vw;
         justify-content: center;
         align-items: center;
          margin-top: -2rem;
    }
    .searchsection .dropdowntoggle{
        margin: 10px;
         padding: .5rem;
    }
}